* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}
body {
  background-color: #FFF;
  font-family: 'Helvetica Neue', sans-serif;
}

.navigation {
	background-image: url("IMG_0281.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    width: 100%;
}

#navigation-content {
    color: white;
    font-size: 35px;
    text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid white;
}

.picture1 {
  background-image: url("IMG_0245.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 100%;
  width: 100%;
  position: absolute;
}

h1 {
	position: absolute;
  color: white;
  font-size: 60px;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px;
  bottom:40%;
}